$color__primary--text: #000;
$color__secondary--text: #1e1e1e;
$color__tertiary--text: #fff;
$color__primary--background: #fff;
$color__secondary--background: #1e1e1e;
$color__tertiary--background: #000;

$color__black: #000;
$color__white: #fff;
$color__red: #f00;